body {
    margin: 0;
    background-image: url(Photos/CostaRica.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
.container,
.navbar {
    display: grid;
    text-align: center;
}
header.container {
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}
.logo {
    float: left;
}
.navbar {
    grid-template-columns: 25% 25% 25% 25%;
    list-style-type: none;
    text-align: center;
}
.nav a {
    text-decoration: none;
    color: black;
}
main.container {
    grid-template-columns: 25% 50% 25%;
}
img.self {
    width: 100px;
    height: 100px;
}
